numpy
pandas
scikit-learn
torch
torchvision
pytorch-lightning
lightgbm
ta
yfinance
optuna
mlflow
streamlit
joblib
pydantic
requests
urllib3<2.0
python-dotenv
pytest
fastapi
uvicorn
scipy
prometheus-client
shap
